#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  height:100vh;
  text-align: center;
}

.home-card {
  display:inline-flex;
  padding:1rem;
  flex-direction:row;
  position:relative;
  border-radius: 8px;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin:100px 10px 4px 10px;
}

.page-info {
  font-size: 150%;
  color: #000;
}

.navbar-links {
  display: flex;
  gap:2rem;
  flex-direction: row;
}

.nav-link {
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  top: 0px;
  border: 3px solid black;
  padding: .5em;
  margin: auto;
  font-size: 300%;
}

.main-content {
  flex:1;
  padding: 2rem;

}

@media (max-width: 768px) {
  .home-card {
    font-size: 0.9rem;
  }

  .page-info {
    padding: 0.75rem;
  }
}

