#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  height:100vh;
  text-align: center;
}

body {
  background-image: url('../assets/background.jpg');
  background-size: cover;
}


.page-info {
  font-size: 150%;
  color: black;
}

.main-content {
  flex:1;
  padding: 2rem;

}

@media (max-width: 768px) {
  .home-card {
    font-size: 0.9rem;
  }

  .page-info {
    padding: 0.75rem;
  }
}

h3 {
  color:black;
  font-size: xx-large;
}

p{
  color:black;
  font-size: xx-large;
}
