/*for the animated metronome*/
.swing {
    transform: rotate(20deg);
    animation: swingAnimation 0.15s ease-in-out forwards;
  }
  
  @keyframes swingAnimation {
    0% { transform: rotate(20deg); }
    50% { transform: rotate(-20deg); }
    100% { transform: rotate(20deg); }
  }