/*for the animated metronome*/
.pendulum {
    transform-origin: top center;
  }
  
  .continuousSwing {
    animation: continuousSwingAnimation 1s infinite ease-in-out;
  }
  
  @keyframes continuousSwingAnimation {
    0% { transform: rotate(20deg); }
    50% { transform: rotate(-20deg); }
    100% { transform: rotate(20deg); }
  }
