.navbar{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  border-bottom: 2px solid black;
  width: 100%;
}

.navbar-left{
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
  max-width: 1000px;
  width: 100%;
}

.nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;

}

.nav-icon{
  font-size: 60px;
  margin-bottom: 4px;
}

.navbar-links {
    float: left;
    font-size:450%;
    display: block;
    text-align: center;
  }
  
  .nav-link:hover{
    background-color: #B1B7D1;
   
  }
  
  